

/* -- Backgrounds -- */

body /* wallpaper */
 {
    background: url(https://hdwallsource.com/img/2014/9/city-background-18308-18772-hd-wallpapers.jpg) no-repeat center fixed; 
    background-size: cover;
}

#emf-container #emf-logo /* header */
{
  background-image: none;
 
  
}

#emf-container /* form */
{
  background-color: #ffffff;
   opacity: 0.8;
    filter: alpha(opacity=50);
}

#emf-container div.emf-div-field input, /* field */
#emf-container div.emf-div-field textarea,
#emf-container div.emf-div-field select


input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    box-sizing: border-box;
}


#emf-container #emf-form ul li.highlight-field /* highlight */
{
  background-color: #ffffff;
}

#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label /* instructions */
{
  background-color: none;
}


/* -- Typography -- */

#emf-container #emf-form-title /* title */
{
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight:bold;
  font-size: 30px;
  color: #000000;
}

#emf-container #emf-form-description /* description */
{
  font-family: Arial;
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

#emf-container label.emf-label-desc /* field title */
{
  font-family: Trebuchet MS;
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

#emf-container div.emf-div-field input, /* field text */
#emf-container div.emf-div-field textarea,
#emf-container div.emf-div-field select
{
  font-family: Arial;
  font-style: normal;
  font-size: 12px;
  color: #666666;
}

#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label /* instructions */
{
  font-family: Arial;
  font-style: italic;
  font-size: 10px;
  color: #333333;
}


/* -- Borders -- */

#emf-container /* form */
{ 
  border-top: #A3D068 2px solid; 
  border-right: #7AA245 2px solid;
  border-bottom: #7AA245 2px solid;
  border-left: #A3D068 2px solid; 
}

#emf-container #emf-logo /* header */
{
  -moz-border-radius:2px 2px 0 0;
  -webkit-border-radius:2px 2px 0 0;
}

/* -- Shadows -- */

#emf-container-outer #emf-form-shadows /* bottom shadow image */
{
  display:block;
  margin:0 auto;
  height:9px;
  width:640px;
  border:medium none;
  visibility: visible;
}

/* -- Separator Lines -- */

#emf-container .emf-head-widget, #emf-container li .emf-section-separator{
  border-bottom-style: dashed;
  border-color: #3D484B;
}

/* -- Section Title -- */

#emf-container li.emf-field-section_break div.emf-div-field-section h3{
	font-family: Trebuchet MS;
	font-size:19px;
}

/* -- Section Text -- */

#emf-container li.emf-field-section_break .emf-section-text{
  font-family: Arial;
  font-style: normal;
  font-size: 13px;
  color: #3D484B;
}

/* -- Buttons -- */

#emf-container .emf-action-next /* next button */
{
}

#emf-container .emf-action-previous /* previous button */
{
}

#emf-container #submit_form /* submit button */
{
}


/* -- CAPTCHA -- */

#emf-container li#emf-li-captcha #emf-captcha-top-settings
{
  background-color:#AAD6AA;
  color:#FFFFFF;
}

#emf-container li#emf-li-captcha #emf-captcha-bottom-settings
{
  background-color:#E4F8E4;
}

#emf-container li#emf-li-captcha #emf-captcha-input-settings,
#emf-container li#emf-li-captcha #emf-captcha-input-settings a
{
  color:#000000;
}


/* -- Error message -- */

#emf-container .emf-error-message
{
  margin: 20px;
  padding: 0px;
  border: 0px dashed #000000;
}) no-repeat center fixed; 
    background-size: cover;
}

#emf-container #emf-logo /* header */
{
  background-image: none;
 
  background-color: #FE495F;
}

#emf-container /* form */
{
  background-color: #ffffff;
   opacity: 0.8;
    filter: alpha(opacity=50);
}

#emf-container div.emf-div-field input, /* field */
#emf-container div.emf-div-field textarea,
#emf-container div.emf-div-field select


input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    box-sizing: border-box;
}


#emf-container #emf-form ul li.highlight-field /* highlight */
{
  background-color: #ffffff;
}

#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label /* instructions */
{
  background-color: none;
}


/* -- Typography -- */

#emf-container #emf-form-title /* title */
{
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight:bold;
  font-size: 30px;
  color: #000000;
}

#emf-container #emf-form-description /* description */
{
  font-family: Arial;
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

#emf-container label.emf-label-desc /* field title */
{
  font-family: Trebuchet MS;
  font-style: normal;
  font-size: 15px;
  color: #000000;
}

#emf-container div.emf-div-field input, /* field text */
#emf-container div.emf-div-field textarea,
#emf-container div.emf-div-field select
{
  font-family: Arial;
  font-style: normal;
  font-size: 12px;
  color: #666666;
}

#emf-container li .emf-div-instruction, #emf-container li .emf-div-field label /* instructions */
{
  font-family: Arial;
  font-style: italic;
  font-size: 10px;
  color: #333333;
}


/* -- Borders -- */

#emf-container /* form */
{ 
  border-top:  0.5px dotted; 
  border-right: 0.5px dotted;
  border-bottom: 0.5px dotted;
  border-left: 0.5px dotted; 
}

#emf-container #emf-logo /* header */
{
  -moz-border-radius:7px 7px 0 0;
  -webkit-border-radius:7px 7px 0 0;
}

/* -- Shadows -- */

#emf-container-outer #emf-form-shadows /* bottom shadow image */
{
  display:block;
  margin:0 auto;
  height:9px;
  width:640px;
  border:medium none;
  visibility: visible;
}

/* -- Separator Lines -- */

#emf-container .emf-head-widget, #emf-container li .emf-section-separator{
  border-bottom-style: dashed;
  border-color: #3D484B;
}

/* -- Section Title -- */

#emf-container li.emf-field-section_break div.emf-div-field-section h3{
	font-family: Trebuchet MS;
	font-size:19px;
}

/* -- Section Text -- */

#emf-container li.emf-field-section_break .emf-section-text{
  font-family: Arial;
  font-style: normal;
  font-size: 13px;
  color: #3D484B;
}

/* -- Buttons -- */

#emf-container .emf-action-next /* next button */
{
}

#emf-container .emf-action-previous /* previous button */
{
}

#emf-container #submit_form /* submit button */
{
}


/* -- CAPTCHA -- */

#emf-container li#emf-li-captcha #emf-captcha-top-settings
{
  background-color:#AAD6AA;
  color:#FFFFFF;
}

#emf-container li#emf-li-captcha #emf-captcha-bottom-settings
{
  background-color:#E4F8E4;
}

#emf-container li#emf-li-captcha #emf-captcha-input-settings,
#emf-container li#emf-li-captcha #emf-captcha-input-settings a
{
  color:#000000;
}


/* -- Error message -- */

#emf-container .emf-error-message
{
  margin: 20px;
  padding: 0px;
  border: 0px dashed #000000;
}
